body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/164/537/small/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 25px;
}

.container {
    position: relative;
    height: 550px;
    width: 450px;
    border: 1px solid black;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    border-color: white;

}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 1px solid white;

}

.container .inputbox label {
   font-size: 20px;
}




.inputbox input {
    height: 50px;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1em;
    color: white;
    outline: none;
    padding: 0 35px 0 5px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    position: none;
}

input:focus~label,
input:valid~label {
    top: -7px;
}

.forget {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
}

.forget label a {
    text-decoration: none;
    color: #fff;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.button button {
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 15px;
    color: black;
    width: 100%;
    border-radius: 20px;
}
 .sign_up a {
    color: white;
    text-decoration: none;
 }

 .sign_up a:hover {
   text-decoration: underline;
 }

 .sign_up a:hover {
    text-decoration: underline;
  }
  .forget label a:hover {
    text-decoration: underline;
   
}
